@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    background-color: #000000;
    color: #b3b3b3;
    font-family: "Roboto", serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
    font-weight: 400;
}

h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    color: #b3b3b3;
    font-weight: 400;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #b3b3b3;
}

li {
    margin-bottom: 8px;
    font-weight: 400;
}

a {
    color: #3399ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 500;
    color: #ffffff;
}
